
body{
    background-image: linear-gradient(to right, blue, rgb(0, 8, 122));
    font: normal 22pt Zapf-Chancery;
    color: black;
}

header{
    text-align: center;
    font: normal 30pt Roboto;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.692);
}

section{
    background: white;
    margin: auto; /* centraliza a div */
    border-radius: 10px;
    padding: 15pt;
    width: 500px;
    box-shadow: 5px 5px 10px black;
    text-align: center;
}

div{
    padding: 10px;
}

footer{
    text-align: center;
    font: normal 18pt Roboto;
    color: white;
    font-style: italic;
}